<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to Vishal Jain's Tumblr clone</p>
    <p>
      Thanks for trying out my app.
      <br/>
    </p>

    <p>Please visit my github https://github.com/gameboyvj and feel free to let me know what you thought of my work</p>

    <p>Thanks and have a great day </p>
  </body>
</html>