<h1>Edit you profile </h1>

<form action="<%= user_url(current_user.id) %>" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

  <label>Username
    <input type="text" name="user[username]"  value="<%= current_user.username %>">
  </label>
  <br>


    <div class="field">Avatar<input type="file" name="user[avatar]"></div>

  <br>
  <input type="submit" value="Save Edits">
</form>