<h1>tumblr</h1>

<form action="<%= users_url %>" method="POST">
  <input type="text" name="user[email]" placeholder="Email">
  <br>
  <input type="password" name="user[password]" placeholder="Password">
  <br>
  <input type="text" name="user[username]" placeholder="Username">
  <br>
  <input type="submit" value="Sign Up">

</form>

<%= link_to "Sign In", new_session_url %>