      <div class="format-options">
        <img class="format-option" onclick="edit('bold');" src="/assets/editor/iconmonstr-bold-icon-16.png" />
        <img class="format-option" onclick="edit('italic');" src="/assets/editor/iconmonstr-italic-icon-16.png" />
        <img class="format-option" onclick="edit('strikeThrough');" src="/assets/editor/iconmonstr-strikethrough-icon-16.png" />
        <img class="format-option" onclick="edit('justifyLeft');" src="/assets/editor/iconmonstr-align-left-icon-16.png" />
        <img class="format-option" onclick="edit('justifyCenter');" src="/assets/editor/iconmonstr-align-justify-icon-16.png" />
        <img class="format-option" onclick="edit('justifyRight');" src="/assets/editor/iconmonstr-align-right-icon-16.png" />
        <img class="format-option" onclick="edit('insertOrderedList');" src="/assets/editor/iconmonstr-numbered-list-icon-16.png" />
        <img class="format-option" onclick="edit('insertUnorderedList');" src="/assets/editor/iconmonstr-numbered-list-icon-16.png" />
        <img class="format-option" onclick="edit('underline');" src="/assets/editor/iconmonstr-underline-icon-16.png" />

      </div>
