<header class="clearfix">
  <h1 class="logo">dup(tumblr)</h1>
  <ul>
    <li><a href="<%=dashboard_url%>"><img src="https://s3.amazonaws.com/vishal-tumblr-clone-dev/icons/home_icon.png"></a></li>
    <li><a href="<%= edit_user_url(current_user.id) %>"><img src="https://s3.amazonaws.com/vishal-tumblr-clone-dev/icons/settings_icon.png"></a></li>
    <li><%= link_to image_tag("https://s3.amazonaws.com/vishal-tumblr-clone-dev/icons/log_off_icon.png"), session_url, :method=>:delete %></li>
  </ul>
</header>