<%= paginate @results %>
<h1 id="search-name">Search Results for <%= @search_name %></h1>
<ul class="search-list clearfix">
  <%= render @results.map(&:searchable) %>
  <%# @results.each do |result| %>
    <%# if result.searchable_type == "User" %>
      <!-- <li class="search-result"> <%#= link_to result.content, user_url(result.id) %></li>
    <%# else %>
      <li class="search-result"><%#= link_to result.content, post_url(result.id) %></li>
    <%# end %>
  <%# end %>
                -->
</ul>


