
<% num_followers = @followers.length %>
<ul class="follow clearfix">
  <% if num_followers == 1%>
    <h1><%= num_followers %> person follows you</h1>
  <% else %>
    <h1><%= num_followers %> people follow you</h1>
  <% end %>

  <% @followers.each do |follower| %>
    <li><%= image_tag follower.avatar.url(:small), :height => '40', :width => '40', :class => "thumbnail" %>
      <%= link_to follower.username, user_url(follower) %>
    </li>
  <% end %>
</ul>