/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body, div, ul, li, span, strong, header{
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

body{
  background-color: #3E5873;
}

footer {
  bottom: 100px;
}

.sign-in-form {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.sign-input {
  border:solid 1px #BFBDBD;
  color: black;
  height: 20px;
  padding:10px;
  width: 220px;
  font-size: 1.1em;
  border-radius: 3px;
}

.sign-btn {
  height: 40px;
  padding-bottom: 10px;
  width: 240px;
  padding: 5px 15px;
  background: #6CAAD2;
  border: 0 none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}

.other_btn{
  top: 0px;
  height: 40px;
  padding-bottom: 10px;
  width: 240px;
  padding: 5px 15px;
  background: #6CAAD2;
  border: 0 none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
}

.edit-tag:hover{
  text-decoration:line-through;
}

header {
  width: 850px;
  margin: 0 auto;
}

header > h1{
  float:left;
  color: white;
}

header > ul {
  float:right;
  padding-top: 30px;
}

header > ul >li {
  float: left;
}

/*header:after {
  content: "";
  clear: both;
  display: block;
}*/

.main {
  background-color: #2c4762;
  width: 850px;
/*  max-width: 900px;*/
  margin: 0 auto;
  padding: 10px;
  display: block;
  clear: both;
  border: 1px solid black;
  border-radius: 20px;

}
.new-post-link {
  float:left;
}

.posts {
  width: 650px;
  float:left;
  display: inline-block;
}
/*.posts:after {
  content:"";
  clear:both;
  display:block;
}*/
.post {
  float:left;
  padding: 3px;
  width: 700;
}

.avatar {
  float: left;
  width: 100px;
  height: 100px;
}

.post-content {
  border: 2px solid black;
  width: 500px;
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.sidebar{
  display:inline-block;
}

.sidebar li {
  padding: 3px;
  border-bottom: 1px solid black;
}

.clearfix:after {
  content:"";
  clear:both;
  display:block;
}