/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body, div, ul, li, span, strong, header, a{
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;

}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, body {
  min-height: 100%;
}

.website{
  background-color: #3E5873;
  background: -webkit-linear-gradient(#3E5873, #2c4762)  no-repeat; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3E5873, #2c4762) no-repeat; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3E5873, #2c4762) no-repeat; /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3E5873, #2c4762) no-repeat; /* Standard syntax */
}

.sign {
  background-color: #3E5873;
}

/*.sign-in-form {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}*/

.sign-in-form {
  margin: 200px auto;
  background: #fff;
  width: 260px;
  background-color: inherit;
}

.sign-in-form > h1 {
  color: white;
}

.sign-input {

  border:solid 1px #BFBDBD;
  color: black;
  height: 20px;
  padding:10px;
  width: 220px;
  font-size: 1.1em;
  border-radius: 3px;
}

.sign-btn {
  height: 40px;
  width: 242px;
  padding: 5px 15px;
  background: #6CAAD2;
  border: 0 none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  margin-top: 10px;
  text-decoration: none;
  font-size: 15px;
}

.other-btn{
  top: 0px;
  height: 40px;
  padding-bottom: 10px;
  width: 240px;
  padding: 5px 15px;
  background: #6CAAD2;
  border: 0 none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

footer {
  position: absolute;
  bottom: 0px;
  height: 40px;
  padding-left: 15px;
}

header {
  width: 850px;
  margin: 0 auto;
}

header > h1 {
  float:left;
  color: white;
  font-size: 40px;
  font-family: serif;
}

header > ul {
  float:right;
  padding-top: 40px;
}

header > ul > li {
  float: left;
  padding: 0 15px;
}

/*header:after {
  content: "";
  clear: both;
  display: block;
}*/

.main {
  min-height: 300px;
  background-color: #2c4762;
  width: 850px;
/*  max-width: 900px;*/
  margin: 0 auto;
  padding: 10px;
  display: block;
  clear: both;
  /*border: 1px solid black;*/
  border-radius: 20px;

}
.new-post{
  /*height: 75px;*/
}

.new-post-link {
  float:left;
}
.new-post-content-before{
  min-height: 40px;
  width: 500px;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  background-color:white;
}

.new-post-content-after {
  min-height: 75px;
  height: 200px;
  width: 500px;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  float:right;
}

.posts {
  width: 650px;
  float:left;
  display: inline-block;
  padding-top: 10px;
}
/*.posts:after {
  content:"";
  clear:both;
  display:block;
}*/
.post {
  float:left;
  padding: 10px 0;
  width: 700;
}
.create-new-post {
  float:left;
  padding: 10px 0;
  width: 700;
}

.avatar {
  float: left;
  width: 65px;
  height: 65px;
  margin-right: 5px;
  border-radius: 5px;
}

.post-content {
/*  border: 2px solid black;*/
  width: 500px;
  min-height: 120px;
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.sidebar{
  display:inline-block;
  padding-top: 10px;
  position: absolute;
}

.sidebar li {
  margin-top: 1px;
  padding: 10px 0px;

  border-color: #D4D4D4;
  color: #d4d4d4;
  font-weight: 600;
  font-size: 15px;
}

.sidebar li:first-child{
  border-bottom: 1px solid;
  padding: 10px 90px 10px 10px;

}

.sidebar a {
  color: #D4D4D4;
  text-decoration: none;
/*  padding: 10px 40px 10px 10px;
*/
}

.sidebar a:hover{
  color: #B0B0B0;
  background-color:#34516E;
  /*background-color:#2c4762;*/
}

.sidebar-link1 {
  border-bottom: 1px solid;

  padding:10px 137px 10px 20px;
  /*margin: 50px 0;*/
}



.sidebar-link2 {
  border-bottom: 1px solid;

  padding:10px 107px 10px 20px;
  /*margin: 50px 0;*/
}

.sidebar-link3 {
  border-bottom: 1px solid;

  padding:10px 69px 10px 20px;
  /*margin: 50px 0;*/
}

.clearfix:after {
  content:"";
  clear:both;
  display:block;
}

.edit-tag:hover{
  text-decoration:line-through;
}

.follow {
  width: 620px;
  float:left;
  display: inline-block;
  padding: 10px 0;
  background-color: white;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
}

.hidden {
  display: none;
}

.blogname {
  color: white;
}

.edit-post-content-before{
  background-color: #D9D9D9;
  height: 45px;
  width: 520px;
  margin: auto;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*min-height: 40px;
  width: 500px;
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  background-color:white;*/
}

.edit-post-content-after {
  min-height: 75px;
  height: 200px;
  width: 500px;
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  float:right;
}

.edit-post-toggle-btn{
  float: right;
  padding: 10px;
}

.tag-name {
  color: white;
}

.edit-options{
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  /*padding: 10px 30px 10px 10px;*/
  z-index: 2;
  box-shadow: -3px 5px 3px 0px #7F7F7F;
  right: 2px;
  top: 50px;
}

.edit-options > ul > li {
  padding: 10px 40px 10px 10px;
}

.edit-options > ul > li:hover{
  background-color: #C7D6ED;
}

.delete-button {
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  background-color:inherit;
  font-size: inherit;
}

/*.darken {
  opacity: 0.5;
}

.lighten {
  opacity: 1;
}*/