/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body, div, ul, li, span, strong, header, a{
  padding: 0;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  list-style: none;

}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, body {
  min-height: 100%;
}

.website{
  background-color: #3E5873;
  background: -webkit-linear-gradient(#3E5873, #2c4762)  no-repeat; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3E5873, #2c4762) no-repeat; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3E5873, #2c4762) no-repeat; /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3E5873, #2c4762) no-repeat; /* Standard syntax */
}

.sign {
/*  background-color: #3E5873;
*/  background-image: url("/assets/tumblrbg.jpg");
}

/*.sign-in-form {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}*/

.sign-in-form {
  margin: 200px auto;
  background: #fff;
  width: 300px;
  background-color: inherit;
}

.sign-in-form > h1 {
  color: white;
  text-shadow: 2px 2px #000;
  font-size: 40px;
  margin-bottom: 10px;


}

.sign-input {

  border:solid 1px #BFBDBD;
  color: black;
  height: 20px;
  padding:10px;
  width: 280px;
  font-size: 1.1em;
  border-radius: 3px;
}

.sign-btn {
  height: 40px;
  width: 300px;
  padding: 5px 15px;
  background: #6CAAD2;
  border: 0 none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 15px;
}

.other-btn{
  top: 0px;
  height: 40px;
  padding-bottom: 10px;
  width: 240px;
  padding: 5px 15px;
  background: #6CAAD2;
  border: 0 none;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  opacity: 0.7;
}



footer {
  position: absolute;
  bottom: 0px;
  height: 40px;
  padding-left: 15px;
}

header {
  width: 850px;
  margin: 0 auto;
}

header > h1 {
  float:left;
  color: white;
  font-size: 50px;
  font-family: serif;
  margin-top: 17px;
}

header > ul {
  float:right;
  padding-top: 40px;
}

header > ul > li {
  float: left;
  padding: 0 15px;
}

/*header:after {
  content: "";
  clear: both;
  display: block;
}*/

.main {
  min-height: 300px;
  background-color: #2c4762;
  width: 850px;
/*  max-width: 900px;*/
  margin: 0 auto;
  padding: 10px;
  display: block;
  clear: both;
  /*border: 1px solid black;*/
  border-radius: 20px;

}

.posts {
  width: 650px;
  float:left;
  display: inline-block;
  padding-top: 10px;
}
/*.posts:after {
  content:"";
  clear:both;
  display:block;
}*/


.sidebar {
  display:inline-block;
  padding-top: 10px;
  position: relative;
}

.sidebar li {
  margin-top: 1px;
  padding: 10px 0px;

  border-color: #D4D4D4;
  color: #d4d4d4;
  font-weight: 600;
  font-size: 15px;
}

.sidebar li:first-child{
  border-bottom: 1px solid;
  padding: 10px 90px 10px 10px;

}

.sidebar a {
  color: #D4D4D4;
  text-decoration: none;
/*  padding: 10px 40px 10px 10px;
*/
}

.sidebar a:hover{
  color: #B0B0B0;
  background-color:#34516E;
  /*background-color:#2c4762;*/
}

.sidebar-link1 {
  border-bottom: 1px solid;

  padding:10px 137px 10px 10px;
  /*margin: 50px 0;*/
}



.sidebar-link2 {
  border-bottom: 1px solid;

  padding:10px 107px 10px 10px;
  /*margin: 50px 0;*/
}

.sidebar-link3 {
  border-bottom: 1px solid;

  padding:10px 69px 10px 10px;
  /*margin: 50px 0;*/
}

#follow-text {
  padding-left: 10px;
}

#follow-input {
  margin-top: 5px;
  margin-left: 10px;
}

.clearfix:after {
  content:"";
  clear:both;
  display:block;
}



.follow {
  width: 620px;
  float:left;
  display: inline-block;
  padding: 10px 0;
  background-color: white;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  padding-left: 15px;
}

.hidden {
  display: none;
}

.blogname {
  color: #fff;
  margin-bottom: 0px;
}




.tag-name {
  color: white;
  margin-bottom: 0px;
}

.edit-options{
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  /*padding: 10px 30px 10px 10px;*/
  z-index: 2;
  box-shadow: -3px 5px 3px 0px #7F7F7F;
  right: 2px;
  top: 50px;
}

.edit-options > ul > li {
  padding: 10px 40px 10px 10px;
}

.edit-options > ul > li:hover{
  background-color: #C7D6ED;
}

.delete-button {
  padding: 0;
  margin: 0;
  outline: 0;
  border: none;
  background-color:inherit;
  font-size: inherit;
}

#search-name {
  color: #fff;
}

.search-list {
  width: 620px;
  float:left;
  display: inline-block;
  padding: 10px 0;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
  min-height: 200px;
  padding-left: 20px;
}

.search-result {
  padding: 10px;
}

.search-bar {

  padding: 5px 0px 5px 20px;

  border-radius: 15px;
  background-color: #2c4762;
  border: 0;
  font-size: 14px;
  color: #d4d4d4;;
  outline: none;


}
.delete-tag {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #fff;
  font-size: 16px;
}

.delete-tag:hover {
  text-decoration: line-through;

}
.edit-tags{
/*  float: left;
*/}

.edit-tags li {
  font-size: inherit;
}

.has-active-modal .modal {
  display: block;
}


.modal {
  display: none;


}

body:before {
  content: "";
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 5;
}
body.has-active-modal:before {
  display: block;
}

.edit-post-form-container{
  min-height: 10px;

}

.grey-bar{
  background-color: #D9D9D9;
  height: 45px;
  width: 520px;
  /*margin: auto;*/
  position: absolute;
  left: 70px;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  /*min-height: 40px;
  width: 500px;
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  background-color:white;*/
}
/*
.edit-post-content-after {
  min-height: 75px;
  height: 200px;
  width: 500px;
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  float:right;
}*/
#new-post {
  padding-bottom: 0px;
  padding-top: 0px;
}

#new-post h4 {
  margin: 0px;
}
.edit-post-toggle-btn{
  float: right;
  padding: 10px;
  padding-left: 460px;
  position: absolute;
}

.post {
  float:left;
  padding: 10px 0;
  width: 700;
  position: relative;
}

.create-new-post {
  float:left;
  padding: 10px 0;
  width: 700;

}

.avatar {
  float: left;
  width: 65px;
  height: 65px;
  margin-right: 5px;
  border-radius: 5px;
}

.post-content {
/*  border: 2px solid black;*/
  width: 500px;
  min-height: 120px;

/*  display:inline-block;
*/  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
/*  Edit the padding bottom here to fix grey bar overlap
*/  padding-bottom: 60px;
  position: relative;
  float:right;
}

.new-post-link {
  float:left;
}


.post-form {
/*  min-height: 141px;
*/ /* height: 200px;*/
  min-height: 200px;
  width: 500px;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  position: relative;

  z-index: 15;
  display: none;
  float:right;
}
.display-inline-block {
  display: inline-block;
}

.follow-button {
  color: white;

}

/*.new-post-content-before{
  min-height: 40px;
  width: 500px;
  display: block;
  border-radius: 5px;
  padding: 10px;
  background-color:#fff;

}

.new-post-content-after {
  min-height: 75px;
  height: 200px;
  width: 500px;
  display: block;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  position: relative;
  z-index: 15;
}*/



/*.darken {
  opacity: 0.5;
}

.lighten {
  opacity: 1;
}*/

.format-option {
  cursor: pointer;
  width:16px;
  height:16px;
}

.format-options {
  margin: 0 auto;
}

.format-options > img {
  padding-left: 5px;
  padding-right: 5px;
}

.tri {
  content: "";
  display: block;

  position: absolute;

  top: 30px;
  left: 50px;

  /*margin-left: 50px;
  margin-right: -50px;*/

  width: 0;
  height: 0;

  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
}

.tag-input-bar {
  width: 475px;
}

.post-buttons{
  border: 0;
  background-color: #529ecc;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding-right: 10px;
}

.post-buttons:hover{
  background-color:#458BB5;
}

.edit-post-buttons {
  border: 0;
  background-color: #529ecc;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding-right: 10px;
}

.edit-post-buttons:hover {
  background-color:#458BB5;
}

.edit-avatar {

  width: 65px;
  height: 65px;
  margin-right: 5px;
  border-radius: 5px;
}

.unfollow-button{
  border: 0;
  background-color: #529ecc;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding-right: 10px;
  margin-top: 20px;
  float: right;
}

.unfollow-button:hover {
  background-color:#458BB5;
}

.follow-li {
  border-bottom: 1px solid #ccc;
}

.follow-ul {
  border-top: 1px solid #ccc;
}
.post-buttons-save-user-edits{
  border: 0;
  background-color: #529ecc;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding-right: 10px;
}

.post-buttons-save-user-edits:hover{
  background-color:#458BB5;
}

.post-title {
  font-size: 20px;
  text-decoration:none;
  color: #000;
  font-weight: bold;
}
.post-title:hover {
  color: grey;
}
.post-username {
  text-decoration: none;
  color: #000;
}

.post-username:hover {
  color: grey;
}

.post-tags {
  color: #858585;
  text-decoration: none;
}

.post-tags:hover {
  color: #666565;
}

.user_search_result{
  padding: 10px 500px 10px 20px;
  background-color: white;
  text-decoration: none;
  color: #000;
}

.user_search_result:hover{
  color: grey;
}

.pagination {
  background-color: white;
  width: 225px;
}