// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-input {

//  background-color: #BFBDBD;
//      border:solid 1px #BFBDBD;
      color: #979797;
      height: 20px;
      padding:10px;
      width: 220px;
      font-size: 1.1em;
//      box-shadow: 2px 2px 0 #828181 inset;
}

.sign-btn {
  height: 20px;
  padding:10px;
  width: 220px;
}